/* The main colors that I am using are: */
/* #85c1e9 (Sky Blue) */
/* #C1E985 (Medium Spring Bud) */

/* Importing the DM Serif Display and Merriweather Google fonts. */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Merriweather:wght@300&display=swap');


/* The titles will have this font. */
h1 {
    font-family: 'DM Serif Display', serif;
}

/* The text for the subheaders will have this font. */
h2 {
    font-family: 'Merriweather', 'serif';
    font-size: 16px;
}

/* This is the background color. It's the basis for most
   of the other colors that I use. */
body {
    background-color: #85c1e9;
}

/* This is for the forms. It has a similar color to the
   the background color. */
fieldset {
    background-color: #5AABE1;
    border-color: #2F95D9;
    border-style: groove;
    border-radius: 5px;
    border-width: 5px;
}

/* This is for the regular buttons and submit buttons. */
input[type="button"], input[type="submit"] {
    border-radius: 5px;
    border-color: #8FE985;
    background-color: #C1E985;
    font-size: 9.5pt;
    font-family: tahoma;
}

input[type="button"]:hover, input[type="submit"]:hover {
    border-radius: 5px;
    border-color: #85E9AD;
    background-color: #8FE985;
}

/* This is for the reset buttons. I wanted it to be a
   a different color from the submit buttons. */
input[type="reset"], input[type=button].cancelButton {
    border-radius: 5px;
    border-color: #E9858F;
    background-color: #E985C1;
    font-size: 9.5pt;
    font-family: tahoma;
}

input[type="reset"]:hover, input[type=button].cancelButton:hover {
    border-color: #E9858F;
    background-color: #E9AD85;
}

/* The color for the unvisited links. */
a:link {
    color: #C06223;
}

/* The color for the visited links. */
a:visited {
    color: #944B1B;
}

/* The CSS for the logo when it appears in the
   top-right corner. */
#right_corner_logo {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Color references are here: */
/* Blue analogous: #858FE9, #85E9DF */
/* Green analogous: #8FE985, #E9DF85 */