<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- I have to put this BS in every page for the favicon to work. -->
    <link rel="apple-touch-icon" sizes="76x76" href="Favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="Favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="Favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="Favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512"  href="Favicons/android-icon-512x512.png">
    <link rel="manifest" href="/site.webmanifest">
  
    <meta charset="utf-8" />
    <title>Create Account</title>
    <link rel="stylesheet" href="css/notWelcome.css" type="text/css">
  </head>

  <body>
    <h1>Account Creation Form</h1>
    <form action="http://localhost:5000/AccountSignup" method="post">
      <fieldset>
        <legend>
          <strong>Account Information</strong>
        </legend>

        <label>Username: <input type="text" name="username"></label>
        <br>
        <br>
        <label>Password: <input type="password" name="password"></label>
        <br>
        <br>
        <label> Confirm Password: <input type="password" name="confirmPassword"></label>
        <br>
        <br>
        <label>Email Address: <input type="email" name="email"></label>
        <br>
        <br>
      </fieldset>
      <br>
      <input type="reset" value="Cancel">
      <input type="submit" value="Sign Up">
    </form>
  </body>
</html>
