<!doctype html>
<html lang="en">

<head>
	<!-- I have to put this BS in every page for the favicon to work. -->
    <link rel="apple-touch-icon" sizes="180x180" href="Favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="Favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="Favicons/favicon-16x16.png">
    <link rel="manifest" href="Favicons/site.webmanifest">
    <link rel="mask-icon" href="Favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="Favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="Favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

	<meta charset="utf-8" />
	<title>Account Confirmation</title>
	<link rel="stylesheet" href="css/notWelcome.css" type="text/css">
</head>

<body>
	<h1>Account Information</h1>
	<form>
		<strong>Username: </strong><%- userid %><br>
		<strong>Email Address: </strong><%- emailaddr%><br>
		<a href="/sendInfo"><input type="button" value="Send my Information to the Database"></a>
        <a href="/CreateAccount"><input class="cancelButton" type="button" value="Go Back! I need to change something!"></a>
	</form>
</body>

</html>