<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Account Confirmation</title>
	<link rel="stylesheet" href="css/notWelcome.css" type="text/css">
</head>

<body>
	<h1>Account Information</h1>
	<form>
		<strong>Username: </strong><%- userid %><br>
		<strong>Email Address: </strong><%- emailaddr%><br>
		<a href="/sendInfo"><input type="button" value="Send my Information to the Database"></a>
        <a href="/CreateAccount"><input class="cancelButton" type="button" value="Go Back! I need to change something!"></a>
	</form>
</body>

</html>