<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Account Confirmation</title>
</head>

<body>
	<h1>Account Information</h1>
	<div>
		<strong>Username: </strong><%- userid %><br>
		<strong>Email Address: </strong><%- emailaddr%><br>
		<input type="submit" value="Send my Information to the Database">
        <a href="Homepage.html"><input type="reset" value="Go Back! I need to change something!"></a>
	</div>
</body>

</html>