<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Create Account</title>
  </head>

  <body>
    <h1>Account Creation Form</h1>
    <form action="http://localhost:5000/AccountSignup" method="post">
      <fieldset>
        <legend>
          <strong>Account Information</strong>
        </legend>

        <label>Username: <input type="text" name="username"></label>
        <br>
        <br>
        <label>Password: <input type="password" name="password"></label>
        <br>
        <br>
        <label> Confirm Password: <input type="password" name="confirmPassword"></label>
        <br>
        <br>
        <label>Email Address: <input type="email" name="email"></label>
        <br>
        <br>
      </fieldset>
      <br>
      <input type="reset" value="Cancel">
      <input type="submit" value="Sign Up">
    </form>
  </body>
</html>
