<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>New Password Reset</title>
</head>

<body>
    Your password has been successfully reset.
    <a href="/Homepage">HOME</a>
</body>

</html>