<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>
    <h1>Hello! Welcome to the weather app!</h1>
    <h2>This is a simple app where you can get the weather for your current location.</h2>
    <fieldset>
        <legend>Returning Users</legend>
        <label>Username: <input type="text"></label>
        <br>
        <br>
        <label>Password: <input type="password"></label>
        <br>
        <br>
        <input type="submit" value="Sign In">
        &nbsp;
        <a href="/passwordReset">Forgot Password</a>
    </fieldset>
    <fieldset>
        <legend>New Users</legend>
        <a href="/CreateAccount"><input type="submit" value="Make Account"></a>
    </fieldset>
    <a href="/clearCollection">Clear Collection</a>
</body>
</html>