<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Login Successful</title>
  </head>

<body>
    <h1>Login Success</h1>
    You've logged in successfully.
    <a href="/Welcome">WELCOME</a>
</body>

</html>