<!doctype html>
<html lang="en">

<head>
    <!-- I have to put this BS in every page for the favicon to work. -->
    <link rel="apple-touch-icon" sizes="180x180" href="Favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="Favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="Favicons/favicon-16x16.png">
    <link rel="manifest" href="Favicons/site.webmanifest">
    <link rel="mask-icon" href="Favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="Favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="Favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

	<meta charset="utf-8" />
	<title>Reset Password</title>
    <link rel="stylesheet" href="css/notWelcome.css" type="text/css">
</head>

<body>
    <a href="/"><img src="images/AppLogo.png" id="right_corner_logo" alt="The app's logo", width="75", height="75"></a>
    <h1>Password Reset</h1>
    <form action="https://weatherbeetle.onrender.com/confirmNewPassword" method="post">
        <fieldset>
            <label>Username: <input type="text" name="confirmUsername"></label>
            <br>
            <br>
            <label>New Password: <input type="password" name="newPassword"></label>
            <br>
            <br>
            <label> Confirm Password: <input type="password"></label>
            <br>
            <br>
            <label>Email Address: <input type="email" name="confirmEmail"></label>
            <br>
            <br>
            <br>
            </fieldset>
      <input type="reset" value="Cancel">
      <input type="submit" value="Sign Up">
    </form>
</body>

</html>