<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Reset Password</title>
    <link rel="stylesheet" href="css/notWelcome.css" type="text/css">
</head>

<body>
    <h1>Password Reset</h1>
    <form action="http://localhost:5000/confirmNewPassword" method="post">
        <fieldset>
            <label>Username: <input type="text" name="confirmUsername"></label>
            <br>
            <br>
            <label>New Password: <input type="password" name="newPassword"></label>
            <br>
            <br>
            <label> Confirm Password: <input type="password"></label>
            <br>
            <br>
            <label>Email Address: <input type="email" name="confirmEmail"></label>
            <br>
            <br>
            <br>
            </fieldset>
      <input type="reset" value="Cancel">
      <input type="submit" value="Sign Up">
    </form>
</body>

</html>