<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- I have to put this BS in every page for the favicon to work. -->
    <link rel="apple-touch-icon" sizes="180x180" href="Favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="Favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="Favicons/favicon-16x16.png">
    <link rel="manifest" href="Favicons/site.webmanifest">
    <link rel="mask-icon" href="Favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="Favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="Favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta charset="utf-8" />
    <title>User Not Found</title>
    <link rel="stylesheet" href="css/notWelcome.css" type="text/css">
  </head>

<body>
    <h1>User Not Found</h1>
    We couldn't find the user with the corresponding information. Please go back and try again.
    <a href="https://weatherbeetle.onrender.com/Homepage">HOME</a>
</body>

</html>