<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>User Already Exists</title>
    <link rel="stylesheet" href="css/notWelcome.css" type="text/css">
  </head>

<body>
    <h1>User Already exists</h1>
    The user already exists. Please go back and login on the main page.
    <a href="/Homepage">HOME</a>
</body>

</html>