<!DOCTYPE html>
<html>
  <meta charset="UTF-16">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap"
      rel="stylesheet" >
      <link rel="stylesheet" href="css/welcome.css" type="text/css">
      <link rel="icon" href="Favicons/favicon.ico" type="image/x-icon" />
    <title>Weather</title>
  </head>
  <h1>Welcome <%-user%></h1>
  <body>
    <a href="/"><input type="button" id="logout" value="Logout"></a>
    <span>Enter a City: &nbsp;</span><input type="text" id="city" onchange="getWeather()" placeholder="City or City, Region or Zipcode (in US, Canada and UK only)">
    <br>
    <hr>
    <div id="placeholderdiv"></div>
    <script>
      //API Information
      const apikey = "6a86cb3210d442be873172901230110";
      //Submit Weather request for city
      async function getWeather() {
        let city = document.getElementById("city").value;
        const response = await fetch(
          `http://api.weatherapi.com/v1/current.json?key=${apikey}&q=${city}&aqi=yes`
        );
        const weather_json = await response.json();
        let weatherString = "";
        weatherString+= weather_json.location.name+", "+weather_json.location.country+"<br>";
        weatherString+=`<img src="${weather_json.current.condition.icon}">`+"<br>"+weather_json.current.condition.text+"<br>",
        weatherString += weather_json.current.temp_f + "F";
        weatherString += " (" + weather_json.current.temp_c + "C" + ")<br>";
        weatherString +=
          "Winds: " +
          weather_json.current.wind_mph +
          "mph " +
          weather_json.current.wind_dir;
        // create a new div element
        const newDiv = document.createElement("div");
        newDiv.className = "weatherDiv";
        // and give it some content
        const newContent = newDiv.innerHTML = weatherString;

        // add the newly created element and its content into the DOM
        const currentDiv = document.getElementById("placeholderdiv");
        document.body.insertBefore(newDiv, currentDiv);
        document.getElementById("city").value = "";
        console.log(weather_json.location.region);
      }
    </script>
  </body>
</html>
