<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <!-- if the favicon just isn't working, I'd say just to leave it to the side for now -->
    <link rel="icon" href="Favicons/favicon.ico" type="image/x-icon">
    <title>Weather</title>
</head>
  <h1>Welcome <%-user%></h1> 
  <body>
      Enter a City: <input type="text" id="city" onchange="getWeather()"> 
      <br>
      <input type="submit" value="Add City" id = "addLocation">

    <script>
      //API Information
      const apikey = '6a86cb3210d442be873172901230110';
      //Submit Weather request for city
      async function getWeather(){
            let city=document.getElementById("city").value;
            const response = await fetch(`http://api.weatherapi.com/v1/current.json?key=${apikey}&q=${city}&aqi=yes`);
            const weather_json = await response.json();
            console.log(weather_json);
      }
    </script>

  </body>

</html>
