<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>Welcome <%-user%></h1>
    <p>Enter a City: <input type="text">&nbsp;<input type="submit" value="Check Weather"></p>
    <div></div>  
    <input type="submit" value="Add City">
    <a href="/Homepage">HOME</a>
</body>
</html>